@import url("https://use.typekit.net/jmk3xov.css");

/* Root page styling  */
html, body {
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.scene {
  width: 100vw;
  height: 100vh;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Styling for information and to make the site more interactive */
h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  /* Footer */
  .footer{
    padding-top: 2rem;
    position: fixed;
    left: 0;
    bottom:0;
    width:100%;
    bottom:0;
    padding:5px 0;
}

.footer_container{
    row-gap: 3.5rem;
}

.footer_links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer_link:hover{
    color: var(--first-color-lighter);
}

.footer_copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

/* Loading screen loader */
.spin-container {
  margin: 0px 20px;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
}


.spinner-default {
  @include spinner();
}

.spinner-red {
  @include spinner(
    $size: 12px,
    $arm_width: 2px,
    $arm_count: 3,
    $color: #a83b2a,
    $time: 1s,
    $shimmer: false
  )
}

@keyframes spin {
  0% { 
    /*  */
    transform: 
      translateX(-50%)
      translateY(-50%)
      rotate(-360deg)
  }
  100% { 
    /* translating for centering */
    transform:
      translateX(-50%)
      translateY(-50%)
      rotate(0deg)
    }
}

@keyframes shimmer {
  0% { 
    opacity: 0.1
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0.1
  }
}


@keyframes fade-in {
  0% { opacity: 1 }
  0.5% { opacity: 0 }
  100% { opacity: 1 }
}

@mixin spinner(
  $size: 12px,
  $arm_width: 2px,
  $arm_count: 14,
  $color: #303030,
  $time: 2s,
  $shimmer: true) {
  
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%; left: 50%;
  display: block;
  transform-origin: 0% 0%;
  
  /* fade in no less than 1s */
  @if $time > 1 {
  animation:
    spin $time linear infinite,
    fade-in $time/4 ease-in-out;
  } @else {
    animation:
    spin $time linear infinite,
    fade-in $time ease-in-out;
  }
    
  .arm {
    height: $arm_width;
    width: $size;
    position: absolute;
    background: $color;
    border-radius: $arm_width / 2;
    transform-origin: 0px 0px;
    
    /* add the shimmer */
    @if $shimmer == true {
      opacity: 0;
      animation: shimmer $time/2 linear infinite;
    }

    @for $i from 1 through $arm_count {
      $ratio: $i / $arm_count;

      &:nth-child(#{$i}) {
        animation-delay: -1*($ratio * ($time/2));
        transform:
          rotate((360*$ratio)+deg)
          translate($size, 0px);
      }
    }
  } 
}
